@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme {
  /* Определяем твои ключевые разрешения */
  --breakpoint-pc-sm: 1280px;
  --breakpoint-pc-md: 1440px;
  --breakpoint-pc-lg: 1920px;

  /* 1. Шрифты из вашего layout.tsx */
  --font-heading: var(--font-unbounded);
  --font-body: var(--font-manrope);
  --font-open-sans: var(--font-open-sans);
  --font-primary-button: (var(--font-manrope));
  --font-input-placeholder: (var(--font-manrope));

  /* Цвета и шрифты */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-accent: var(--accent);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-text-muted: #606367;
  --color-input-bg: #F2F4F7;
  --color-select-bg: #F2F4F7;
  --color-footer-bg: #F5F5F5;
  --color-footer-text: #323333;
  --color-focus-input: var(--focus-input);
  --color-inactive-input: #919999;

  --radius-select: 16px;

  --tracking-logo: 0.02em;

  --container-2xl: 1920px;
}

:root {
  /* Цвета вашего коммерческого проекта */
  --primary: #2494B3;
  --primary-foreground: #ffffff;
  --secondary: #919999;
  --secondary-foreground: #ffffff;
  --accent: #B24949;
  --focus-input: #323333;

  /* Системные цвета для shadcn */
  --background: #ffffff;
  --foreground: #1a1a1a;
  --border: #e2e8f0;
  --input: #e2e8f0;
  --ring: #2494B3;
}

.dark {
  --background: #0f172a;
  --foreground: #f8fafc;
  --primary: #2494B3;
  --secondary: #4b5563;
  --border: #1e293b;
}

@layer base {
  html, body {
    overflow-x: hidden; /* Гарантированно убираем горизонтальную прокрутку */
    width: 100%;
  }
  body {
    @apply bg-background text-foreground font-body min-h-screen flex flex-col p-0;
  }
}

@utility container {
  margin-inline: auto;
  width: 100%;
  padding-inline: 2rem; /* Базовый отступ 24px для мобилок */
  max-width: 1920px;
  
  @variant pc-sm {
    padding-inline: 4rem; /* 64px для 1280px */
  }
  @variant pc-lg {
    padding-inline: 5rem; /* 80px для 1920px */
  }
}